<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <!--<div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
        <a href="mailto:ghostfacecalvin@gmail.com">Email</a>
        <a href="https://github.com/gfctam">github.com/gfctam</a>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">-->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Projects</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">SDN</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Hacking Techniques</h5>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Anime Music</h5>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">About Me</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://gfctam.github.io"> GhostFace Calvin</a>
  </div>
</footer>
